*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    font-family: 'Raleway', sans-serif;;
}

/*ESTILOS DEL HEADER*/
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 8px;
}

.boton__login{
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 1.6rem;
    color: #2A7AE4;
    text-decoration: none;
    width: 133px;
    height: 40px;
    border: 1px solid #2A7AE4;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*ESTILOS DEL BANNER*/
.banner{
    background-image: url(/logos/banner-image.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 192px;
    padding: 10px 10px;
}

.banner__container-div{
    padding-top: 45px;
}

.banner__container-div h1{
    font-weight: 700;
    font-size: 2.2rem;
    line-height: 2.5rem;
    color: #FFFFFF;
    margin-bottom: 10px;
}

.banner__container-div p{
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 1.6rem;
    color: #FFFFFF;
    margin-bottom: 10px;
}

.boton__baner{
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 1.6rem;
    color: #FFFFFF;
    background-color: #2A7AE4;
    text-decoration: none;
    width: 118px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}