*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    font-family: 'Raleway', sans-serif;;
}

/*ESTILOS DEL HEADER*/
header{
    padding: 8px 8px;
}

.container__login-tablet{
    display: none;
}

.container__login-mobile{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.boton__login{
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 1.6rem;
    color: #2A7AE4;
    text-decoration: none;
    width: 166px;
    height: 40px;
    border: 1px solid #2A7AE4;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*ESTILOS DEL MAIN*/
main{
    background-color: #F5F5F5;
}

main h1{
    text-align: center;
    padding-top: 10px;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 1.8rem;
    color: #464646;
}

main .container__inputs{
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main form .inputsP{
    width: 100%;
    height: 56px;
    padding: 5px 5px;
    margin-bottom: 15px;
}

main form .Agregar-prodducto{
    width: 100%;
    height: 51px;
    border: none;
    background-color: #2A7AE4;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 1.6rem;
}

/*ESTILOS DEL FOOTER*/
footer{
    background-color: #EAF2FD;
    padding: 10px 10px;
}

.quienesSomos{
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.quienesSomos div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quienesSomos a{
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.8rem;
    color: #464646;
    text-decoration: none;
    margin-bottom: 8px;
}

.formulario{
    padding: 10px 10px;
}

.formulario h1{
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 1.8rem;
    color: #464646;
}

.formulario input, textarea{
    width: 100%;
    height: 56px;
    margin-bottom: 10px;
}

.formulario button{
    width: 133px;
    height: 40px;
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 1.6rem;
    border: none;
    color: #FFFFFF;
    background-color: #2A7AE4;
}
